body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 330;
  font-size: 1.2rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none !important;
}

label.required:after {
  content:" *";
  color: red;
}

h3 {
  font-size: 21px!important;
}

.content_img {
  margin: 50px 0;
  width: 100%;
}